<ul class="breadcrumb">
  <li><a href="<%= root_path %>"><span class="fa fa-home fa-fw"></span></a></li>
  <li><a href="<%= transactions_path %>">Transaction</a></li>
  <li class="active"><strong>Show</strong></li>
</ul>
<div class="container-fluid">
  <div class="row main">
    <div class="col-sm-12 page-header">
      <div class="col-lg-4">
        <h3>Transaction Details</h3>
      </div>
      <div class="col-sm-offset-6 col-sm-2">
        <button class= "btn btn-default"><%= link_to 'Edit', edit_transaction_path, class: "pull-right" %></button>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-1">
    </div>
    <div class="col-lg-5">
      <dl class="dl-horizontal">
        <dt><strong>User: </strong></dt> <dd><%= @transaction.try(:user).try(:firstname) %></dd>
        <dt><strong>Amount: </strong></dt> <dd><%= @transaction.trans_amount %></dd>
        <dt><strong>Transaction Type: </strong></dt> <dd><%= @transaction.trans_type %></dd>
        <dt><strong>Date: </strong></dt> <dd><%= @transaction.created_at %></dd>
      </dl>
    </div>
  </div>
</div>
<div>
  <%= link_to "Back", transactions_path, class: "btn btn-primary" %>
</div>